@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --max-w: 1440px;
  --max-h: 810px;

  --product-card-w: 20rem;
  --product-card-h: 23rem;

  --header-h: 5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}


.product-img-a-sm {
  width: 10rem;
  height: 10rem;
}

.product-img-a-md {
  width: 15rem;
  height: 15rem;
}

.product-img-a-lg {
  width: 20rem;
  height: 20rem;
}


.flex-break{
  flex-basis: 100%;
  flex-shrink: 0;
}